<ion-header>
  <ion-navbar>
    <ion-title>Detalles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="detallesArticulo">
		<div class="CamisetaThumb">
			<img [src]="'./assets/camisetas/' + detallesArticulo.id + '.jpg'" >
		</div>
		<ion-card-content>
			<ion-card-title>
				{{detallesArticulo.nombre}}
			</ion-card-title>
			<ion-row>
				<ion-col col-8><ion-label>Seleccione cantidad</ion-label></ion-col>
				<ion-col><ion-input type="number" [(ngModel)]="cantidadElegida"></ion-input></ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-8><ion-label>Selecciona talla</ion-label></ion-col>
				<ion-col><ion-select [(ngModel)]="tallaElegida">
					<ion-option value="{{talla}}" *ngFor="let talla of tallas">{{talla}}</ion-option>
				</ion-select></ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-8><ion-label>Selecciona color</ion-label></ion-col>
				<ion-col><ion-select [(ngModel)]="colorElegido">
					<ion-option value="{{color}}" *ngFor="let color of colores">{{color}}</ion-option>
				</ion-select></ion-col>
			</ion-row>
			
			
			<button ion-button full small (click)="addCart()"><ion-icon name="cart" item-start>&nbsp;&nbsp;&nbsp;</ion-icon>{{detallesArticulo.precio}} €</button>
			<p>{{detallesArticulo.descripcion}}</p>
		</ion-card-content>
	</ion-card>
</ion-content>