<ion-header>
  <ion-navbar>
    <ion-title>Detalles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="detallesArticulo">
		<ion-item>
			<ion-avatar item-start>
				<img [src]="'./assets/camisetas/' + detallesArticulo.id + '.jpg'"> 
			</ion-avatar>
			<h4 style="font-weight: bold;">{{detallesArticulo.nombre}}</h4>
		</ion-item>

			<img [src]="'./assets/camisetas/' + detallesArticulo.id + '.jpg'" >

		<ion-card-content>

			<p>{{detallesArticulo.descripcion}}</p>

		</ion-card-content>
	
		<ion-card-content>
			<ion-row>
				<ion-col><ion-label>Seleccione cantidad</ion-label></ion-col>
				<ion-col><ion-input type="number" [(ngModel)]="cantidadElegida"></ion-input></ion-col>
			</ion-row>
			<ion-row>
				<ion-col><ion-label>Seleccione talla</ion-label></ion-col>
				<ion-col  col-8 style="text-align:right">
					<ion-select [(ngModel)]="tallaElegida" interface="action-sheet">
						<ion-option value={{talla}} *ngFor="let talla of tallas">
							<h1>{{talla}}</h1>
						</ion-option>
					</ion-select>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col><ion-label>Seleccione color</ion-label></ion-col>
				<ion-col col-10 style="text-align:right">
					<ion-select [(ngModel)]="colorElegido">
						<ion-option value="{{color}}" *ngFor="let color of colores">
							<h1>{{color}}</h1>
						</ion-option>
				</ion-select>
				</ion-col>
			</ion-row>
			
			<button ion-button full small (click)="addCart()"><ion-icon name="cart" item-start>&nbsp;&nbsp;&nbsp;</ion-icon>{{detallesArticulo.precio}} €</button>
			
		</ion-card-content>
	</ion-card>
</ion-content>