page-detallesPedido {
    ion-item {
        font-size: 12px !important;
    }

    .CamisetaThumb {
        height: 100px;
        overflow: hidden;
    }

    h2 {
        font-size: 18px !important;
        font-weight: bold !important;
        padding-left:15px !important;
    }
    
    .CamisetaThumb {
        height: 100px;
        overflow: hidden;
    }

    ion-card-title {
        font-size: 17px !important;
        font-weight: bold !important;
    }
}
