page-home {
    h2 {
        font-size: 15px !important;
        font-weight: bold !important;
    }

    ion-note {
        font-size: 12px !important;
        white-space: nowrap !important;
    }

    .ion-item, button {
        margin:0 !important;   
    }

    ion-list {
        padding: 0 !important;
    }
}
